---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ResourceBoard from "../../components/resources/ResourceBoard.astro";

const resources = await getCollection("resources");

// Sort resources by newest first
const sortedResources = resources.sort((a, b) => {
  if (!a.data.date || !b.data.date) return 0;
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});
---

<Layout>
  <div class="flex min-h-screen flex-col">
    <main class="bg-background relative z-0 flex-1">
      <div class="bg-background text-foreground py-8">
        <ResourceBoard resources={sortedResources} />
      </div>
    </main>
  </div>
</Layout>
