---
interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<section
  class="relative flex min-h-[40vh] items-center justify-center overflow-hidden text-white md:min-h-[70vh]"
>
  <div class="absolute inset-0 bg-black/40"></div>
  <div class="relative z-10 px-4 text-center">
    <h1 class="mb-4 text-4xl font-bold md:text-5xl">{title}</h1>
    {subtitle && <p class="text-lg">{subtitle}</p>}
    <slot />
  </div>
</section>
